In [1]:
import pandas as pd
import numpy as np

In [8]:
people = {
    'first' : ['Jane', 'Mark', 'Sue', 'Chris', np.nan, None, 'NA'],
    'last' : ['Horse', 'John', 'Hill', 'Doe', 'Doe', np.nan, 'Missing'],
    'email' : ['janehorse@gmail.com', 'markjohn@gmail.com', 'suehill@email.com', 'chrisdoe@gmail.com', None, np.nan, np.nan],
    'age': ['33','55', '63', '36', None, None, 'Missing']
    }

In [9]:
df = pd.DataFrame(people)

In [10]:
df

   first     last                email      age
0   Jane    Horse  janehorse@gmail.com       33
1   Mark     John   markjohn@gmail.com       55
2    Sue     Hill    suehill@email.com       63
3  Chris      Doe   chrisdoe@gmail.com       36
4    NaN      Doe                 None     None
5   None      NaN                  NaN     None
6     NA  Missing                  NaN  Missing