In [1]:
people = {
    'first' : ['Jane', 'Mark', 'Sue'],
    'last' : ['Horse', 'John', 'Hill'],
    'email' : ['janehorse@gmail.com', 'markjohn@gmail.com', 'suehill@email.com']
    }

In [2]:
people['first']

['Jane', 'Mark', 'Sue']

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)

In [5]:
df

  first   last                email
0  Jane  Horse  janehorse@gmail.com
1  Mark   John   markjohn@gmail.com
2   Sue   Hill    suehill@email.com

In [6]:
df['last'] == 'Hill'

0    False
1    False
2     True
Name: last, dtype: bool

In [8]:
filt = (df['last'] == 'Hill')

In [9]:
df[filt]

  first  last              email
2   Sue  Hill  suehill@email.com

In [10]:
df.loc[filt]

  first  last              email
2   Sue  Hill  suehill@email.com

In [11]:
df.loc[filt, 'email']

2    suehill@email.com
Name: email, dtype: object

In [14]:
filt2 = ((df['last'] == 'Hill') & (df['first'] == 'Sue'))

In [15]:
df[filt2]

  first  last              email
2   Sue  Hill  suehill@email.com

In [18]:
filt3 = ((df['last'] == 'Hill') | (df['first'] == 'Jane'))

In [19]:
df[filt3]

  first   last                email
0  Jane  Horse  janehorse@gmail.com
2   Sue   Hill    suehill@email.com

In [20]:
df.loc[~filt3, 'email']

1    markjohn@gmail.com
Name: email, dtype: object