In [1]:
people = {
    'first' : ['Jane', 'Mark', 'Sue'],
    'last' : ['Horse', 'John', 'Hill'],
    'email' : ['janehorse@gmail.com', 'markjohn@gmail.com', 'suehill@email.com']
    }

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

  first   last                email
0  Jane  Horse  janehorse@gmail.com
1  Mark   John   markjohn@gmail.com
2   Sue   Hill    suehill@email.com

In [5]:
df['email']

0    janehorse@gmail.com
1     markjohn@gmail.com
2      suehill@email.com
Name: email, dtype: object

In [6]:
df.set_index('email')

                    first   last
email
janehorse@gmail.com  Jane  Horse
markjohn@gmail.com   Mark   John
suehill@email.com     Sue   Hill

In [7]:
df

  first   last                email
0  Jane  Horse  janehorse@gmail.com
1  Mark   John   markjohn@gmail.com
2   Sue   Hill    suehill@email.com

In [8]:
df.set_index('email', inplace=True)

In [9]:
df

                    first   last
email
janehorse@gmail.com  Jane  Horse
markjohn@gmail.com   Mark   John
suehill@email.com     Sue   Hill

In [10]:
df.index

Index(['janehorse@gmail.com', 'markjohn@gmail.com', 'suehill@email.com'], dtype='object', name='email')

In [12]:
df.loc['janehorse@gmail.com']

first     Jane
last     Horse
Name: janehorse@gmail.com, dtype: object

In [13]:
df.loc['janehorse@gmail.com', 'last']

'Horse'

In [15]:
df.iloc[0]

first     Jane
last     Horse
Name: janehorse@gmail.com, dtype: object

In [16]:
df.reset_index(inplace=True)
df

                 email first   last
0  janehorse@gmail.com  Jane  Horse
1   markjohn@gmail.com  Mark   John
2    suehill@email.com   Sue   Hill