In [1]:
people = {
    'first' : ['Jane', 'Mark', 'Sue', 'Adam'],
    'last' : ['Horse', 'John', 'Hill', 'Hill'],
    'email' : ['janehorse@gmail.com', 'markjohn@gmail.com', 'suehill@email.com', 'adamhill@gmail.com']
    }

In [2]:
people['first']

['Jane', 'Mark', 'Sue', 'Adam']

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)

In [5]:
df

  first   last                email
0  Jane  Horse  janehorse@gmail.com
1  Mark   John   markjohn@gmail.com
2   Sue   Hill    suehill@email.com
3  Adam   Hill   adamhill@gmail.com

In [6]:
df.sort_values(by='last')

  first   last                email
2   Sue   Hill    suehill@email.com
3  Adam   Hill   adamhill@gmail.com
0  Jane  Horse  janehorse@gmail.com
1  Mark   John   markjohn@gmail.com

In [7]:
df.sort_values(by='last', ascending=False)

  first   last                email
1  Mark   John   markjohn@gmail.com
0  Jane  Horse  janehorse@gmail.com
2   Sue   Hill    suehill@email.com
3  Adam   Hill   adamhill@gmail.com

In [8]:
df.sort_values(by=['last', 'first'], ascending=False)

  first   last                email
1  Mark   John   markjohn@gmail.com
0  Jane  Horse  janehorse@gmail.com
2   Sue   Hill    suehill@email.com
3  Adam   Hill   adamhill@gmail.com

In [10]:
df.sort_values(by=['last', 'first'], ascending=[False, True], inplace=True)

In [11]:
df

  first   last                email
1  Mark   John   markjohn@gmail.com
0  Jane  Horse  janehorse@gmail.com
3  Adam   Hill   adamhill@gmail.com
2   Sue   Hill    suehill@email.com

In [12]:
df.sort_index()

  first   last                email
0  Jane  Horse  janehorse@gmail.com
1  Mark   John   markjohn@gmail.com
2   Sue   Hill    suehill@email.com
3  Adam   Hill   adamhill@gmail.com

In [13]:
df['last'].sort_values()

3     Hill
2     Hill
0    Horse
1     John
Name: last, dtype: object